
.navLinks li a{
  text-decoration: none;
  color: whitesmoke;
  letter-spacing: 2px;
  font-weight:bold;
  margin: 20px;
}


.headerContainer{
  background-color: #5d4954;
  height: auto;
  display: flex;
  justify-content:center;
  align-items: center;
  
  
  
}
.headerContainer ul {
    list-style: none;
    display: flex;
    justify-content:center;
    margin: 15px 0;
    padding-bottom: 15px;
   
   
}
.headerContainer ul li{
  padding: 15px;
}
.headerContainer ul a:hover{
  text-shadow: 2px 2px 2px #800000; 
}


.logo{
    color: whitesmoke;
    letter-spacing: -5px;
    position: absolute;
    left: 5%;
    font-size: 50px ;
    color: whitesmoke;
    font-family: 'Arizonia', cursive;
    text-shadow: 2px 2px 2px #800000; 
 
 }

/*  
@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .navLinks{
    position:absolute;
    right:0px;
    height:92vh;
    top: 8vh;
    background-color:#5d4954;
    display:flex;
    flex-direction: column;  
    align-items: center;
    width:50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
 
  .burger{
    display:block;
  }
} */

@media (max-width: 990px) {
  .navigation{
    display:none;
  }
  
  .hamburgerMenu{
    min-height: 100px;
    display: flex;
    align-items: center;
  
  }

  .hamburger{
    position: absolute;
    right: 5%; 
    cursor: pointer;
    color: whitesmoke;
    width: 50px;
    height: 40px;
   
  }
  ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
    line-height: 2;
    position: absolute;
    top: 80px;
    width: 100%;
    background-color: #5d4954;
    opacity: 0.9;
     
  }

  ul a{
    margin: 50px;
    padding-right: 10px;
  
  }
} 
@media (min-width:990px){
  .navLinks{
    width:60%;
  }
  .hamburgerMenu{
    display: none;
  }
  .navigation{
    display: flex;
  }
}
