
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #d2d8d8;
  background: 
  /* linear-gradient(rgba(194, 188, 188, 0.927), rgba(254, 247, 247, 0.9)),  */
  url("../../static/background_mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 10px solid pink;
  color: whitesmoke;
  background-blend-mode: lighten;
  
}
.signatureContainer{
  margin-top: 100px;
}
.iconContainer{
  background: linear-gradient(
    100deg,
    rgba(245,245,245,0), 
    rgba(245,245,245,0.05)
   
  );
}
.signature{
  position: relative;
  margin-top: 50px;
  margin: 0 auto;
  color: whitesmoke;
  font-family: 'Arizonia', cursive;
  font-size: 100px;
  text-shadow: 2px 2px 2px #800000; 
}

.fullstack{
  display: flex;
  flex-direction: column;
  font-size: 60px;
  margin:  20px 0;
  animation: slide-up 4s  ease;
  color: #800000;
  text-shadow: 2px 2px 2px black;

  
}
@keyframes slide-up {
  0% {
    transform: translateY(180px);
    opacity: 0;
  }
  85% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

.iconContainer{
  display: flex;

  justify-content: space-between;

}
.iconContainer img{
  width: 50px;
  margin: 2px;
  
}

