*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.header-container{
  background-color: #5d4954;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-container ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.header-container li{
 padding: 15px;

}
.logo{
    color: #fff;
    letter-spacing: 3px;
 
 }
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 35%;
}
.nav-links a{
  color: rgb(226,226,226);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight:bold;
  
}

/* .burger{
  display: none;
  cursor: pointer;
}
.burger div{
  width:25px;
  height:3px;
  background-color:#fff;
  margin: 5px;
  transition: all 0.3s ease
  
} */

@media screen and (max-width:1024px){
  .nav-links{
    width:60%;
  }
}
.hamburgerMenu{
  display: none;
}
@media screen and (max-width: 990px) {
  .navigation{
    display:none;
  }
  .hamburgerMenu{
    display: flex;
    align-items: center;
    background-color: #800000;
  }
  .hamburger{
    position: absolute;
    right: 5%; 
    cursor: pointer;
    color:#fff
  }
  ul{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position:absolute;
    right:0px;
    height:92vh;
    top: 8vh;
    background-color:#5d4954;
    display:flex;
    flex-direction: column;  
    align-items: center;
    width:50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display:block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity:0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-40deg) translate(-5px,6px);
}

.toggle .line2{
  transform: rotate(90deg) translate(0px,0px);
}

.toggle .line3{
  transform: rotate(35deg) translate(-5px,-6px);
}

.signiture-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  height: 100vh;
  background: linear-gradient(#eeecec, whitesmoke);
  
}
.signiture{
  position: relative;
  margin-top: 50px;
  font-family: 'Arizonia', cursive;
  font-size: 150px;
  /* text-shadow: 2px 2px 2px #800000; */
}
.signiture::before,
.signiture::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
   

    /* height: 100%;
    width: 100%;
    border-left: 5px solid #9356DC;
    animation: type 2s steps(10) 0.5s forwards, 
    blink 300ms steps(10) infinite;
    background-color: #eeecec; */
  }
 .signiture::before {
    background: #eeecec;
    width: 125%;
    animation: typewriter 2s
      steps(10) 1s forwards;
  }
  .signiture::after {
    width: 3px;
    
    background: #800000;
    animation: typewriter 2s
        steps(10) 1s forwards,
      blink 750ms steps(10) infinite;
  }
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  

.full-stack{
  font-size: 60px;
  margin: 20px;
  animation: slide-up 4s  ease;
  color: #800000;
  text-shadow: 2px 2px 2px black;

  
}
@keyframes slide-up {
  0% {
    transform: translateY(180px);
    opacity: 0;
  }
  85% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}